{% extends 'society/index.html' %}

{% block body %}
{% load static %}
<div class="header-for-bg">
    <div class="background-header position-relative">
        <img src="{% static 'assets/images/page-img/profile-bg7.jpg' %}" class="img-fluid w-100" alt="header-bg">
        <div class="title-on-header">
            <div class="data-block">
                <h2>Groups</h2>
            </div>
        </div>
    </div>
    </div>
    <!-- Page Content  -->      
    <div id="content-page" class="content-page">
    <div class="container">
    <div class="d-grid gap-3 d-grid-template-1fr-19">
    {% if groups%}
    {% for group in groups %}
    <div class="card mb-0">
        <div class="top-bg-image">
            <img src="/media/{{ group.background_image }}" class=" w-100 "width="317px" height="79px" alt="group-bg">
        </div>
        <div class="card-body text-center">
            <div class="group-icon">
                <img src="/media/{{ group.avatar }}" alt="profile-img" class="rounded-circle img-fluid avatar-120">
            </div>
            <div class="group-info pt-3 pb-3">
                <h4><a href="{% url 'social_network:group_detail' group.slug %}">{{ group.name }}</a></h4>
                <p>{{group.description}}</p>
            </div>
            <div class="group-details d-inline-block pb-3">
                <ul class="d-flex align-items-center justify-content-between list-inline m-0 p-0">
                    <li class="pe-3 ps-3">
                        <p class="mb-0">Post</p>
                        <h6>{{ group.num_posts }}</h6>
                    </li>
                    <li class="pe-3 ps-3">
                        <p class="mb-0">Member</p>
                        <h6>{{ group.num_members }}</h6>
                    </li>
                    <li class="pe-3 ps-3">
                        <p class="mb-0">Visit</p>
                        <h6>{{ group.visits }}</h6>
                    </li>
                </ul>
            </div>
            <div class="group-member mb-3">
                <div class="iq-media-group">
                    <a href="#" class="iq-media">
                        <img class="img-fluid avatar-40 rounded-circle" src="{% static 'assets/images/user/05.jpg' %}" alt="">
                    </a>
                    <a href="#" class="iq-media">
                        <img class="img-fluid avatar-40 rounded-circle" src="{% static 'assets/images/user/06.jpg' %}" alt="">
                    </a>
                    <a href="#" class="iq-media">
                        <img class="img-fluid avatar-40 rounded-circle" src="{% static 'assets/images/user/07.jpg' %}" alt="">
                    </a>
                    <a href="#" class="iq-media">
                        <img class="img-fluid avatar-40 rounded-circle" src="{% static 'assets/images/user/08.jpg' %}" alt="">
                    </a>
                    <a href="#" class="iq-media">
                        <img class="img-fluid avatar-40 rounded-circle" src="{% static 'assets/images/user/09.jpg' %}" alt="">
                    </a>
                    <a href="#" class="iq-media">
                        <img class="img-fluid avatar-40 rounded-circle" src="{% static 'assets/images/user/10.jpg' %}" alt="">
                    </a>
                </div>
            </div>
           <div>
            <a style="margin: 5px 0px;" href="{% url 'social_network:edit_group' group.id %}" class="btn btn-primary d-block w-100">Edit group</a>
            <form method="post" action="/disband_group/{{ group.slug }}/">
                {% csrf_token %}
            <button style="margin: 5px 0px;" type="submit" onclick="return confirm('Are you sure you want to disband this group?')" class="btn btn-danger d-block w-100">Disband Group</button>
            </form>
            <a style="margin: 5px 0px;" href="{% url 'social_network:get_pending_posts' group.id %}" class="btn btn-warning d-block w-100">Pending post</a>
            
            <form method="post" action="{% url 'social_network:pending' group.slug %}">
                {% csrf_token %}
            <button style="margin: 5px 0px;" type="submit" class="btn btn-warning d-block w-100">Pending User</button>
            </form>
           </div>
            
        </div>
    </div>
    {% endfor %}
    {%else%}
    <h3>You don't have any group for manage right now</h3>
    {%endif%}
</div>
</div>
{% endblock %}





