{% extends 'society/index.html' %}
{% block body %}
{% load custom_filters %}
<style>
  .button-container {
    display: flex; 
    gap: 10px; 
  }
</style>
<div class="container mt-3">
  <div class="col-sm-12">
    <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
       <div class="inner-page-title ">
          <h3 class="text-white">Approval to post in the <a class="text-white" href="{% url 'social_network:group_detail' group.slug %}"><u>{{ group.name }} </u></a>group </h3>
          <a href="{% url 'social_network:user_admin_groups' %}" class="text-white" style="display: block; margin-top: 10px;">Back to manage group</a>
       </div>
    </div>
  </div>
</div>
<div class="container mt-4">
{%if pending_posts%}
{% for post in pending_posts  %}
  <div class="col-md-12">
    <div class="card">
        <div class="card-body p-0">
            <ul class="todo-task-lists m-0 p-0">
            <li class="d-flex align-items-center p-3">
                <div class="user-img img-fluid"><img src="{{ request.user.profile.avatar.url }}" alt="story-img" class="rounded-circle avatar-40"></div>
                      <div class="d-flex align-items-center justify-content-between w-100">
                    <div class="ms-3">
                        <p class="mb-0">Group: {{ post.group.name}}</p>
                        <h6 class="d-inline-block">{{ post.user.last_name }}</h6>
                        <span class="badge bg-warning ms-0 ms-md-3 my-1 my-md-0 text-white">Pending</span>
                        <a href="{% url 'social_network:post_detail' post.id %}">
                        <p class="mb-0">{{ post.content}}</p>
                        </a>
                        <p class="mb-0">{{ post.created_at|custom_timesince }}</p>
                    </div>
                    <div class="button-container">
                      <form method="post" action="{% url 'social_network:approve_post' post.id %}">
                        {% csrf_token %}
                        <button class= "btn-success " type="submit">Accept post</button>
                      </form>
                      <form method="post" action="{% url 'social_network:reject_post' post.id %}">
                        {% csrf_token %}
                        <button class= "btn-danger " type="submit">Reject post</button>
                      </form>
                    </div>
               </div>
            </li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}
{%else%}
<h3 >Great !! No post pending this time</h3>
{%endif%}
</div>

{% endblock %}