{% extends 'society/index.html' %}

{% block body %}
{% load static %}
{% load bootstrap4 %}
<div class="container mt-3">
    <div class="col-sm-12">
      <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
         <div class="inner-page-title ">
            <h3 class="text-white">Create new fanpage </h3>
            <a href="{% url 'social_network:index' %}" class="text-white" style="display: block; margin-top: 10px;">Back to group</a>
         </div>
      </div>
    </div>
  </div>
<div class="container mt-4">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Create Fanpage">
</form>
</div>
{% endblock %}